{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">
    {{error.messageKey| trans(error.messagedata,'security') }}
    </div>
{% endif %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div >
    <h1>Login</h1>

<form action="{{path('connexion')}}" method="post" >
    <div class="form-group">
        <label>Login : </label>
        <input type="text" required name ="_username" class="form-control" >
    </div>
    <div class="form-group">
        <label>Password : </label>
        <input type="password" required name ="_password" class="form-control" >
    </div>
    <input type="submit" class="btn btn-primary" value="s'identifier"> 
</div>
{% endblock %}
